{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <h2>Livres</h2>
        {% if livres %}
        <ul>
            {% for livre in livres %} 
        <li><a href="{{ path('app_front_livre_show', {id: livre.id}) }}">{{ livre.titre }}</a>, Auteur : {{ livre.auteur }}, Année edition {{ livre.anneeEdition }}, Nombre pages : {{ livre.nombrePages }} </li>            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
