 {% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

 

<h1> {{title}}</h1>

<h2> - la liste complète des emprunteurs, triée par ordre alphabétique de nom et prénom </h2>

{% for emprunteur in allEmprunteur%}

<p>{{emprunteur.nom}} {{emprunteur.prenom}}</p>

  {% endfor %}

  <h2> - les données de l'emprunteur dont l'id est `3` </h2>

<p> {{emprunteur3.nom}}   {{emprunteur3.prenom}}  </p>
<p> {{emprunteur3.tel}} </p>
<p> {{emprunteur3.user.email}} </p>


<h2>- les données de l'emprunteur qui est relié au user dont l'id est `3`</h2>

<p> {{user3.emprunteur.nom}} {{user3.emprunteur.prenom}} </p>
<p>{{user3.emprunteur.tel}} </p>
<p>{{user3.email}} </p>

<h2> - la liste des emprunteurs dont le nom ou le prénom contient le mot clé `foo`, triée par ordre alphabétique de nom et prénom <h2>

{%for emprunteur in findFoo%}

<p> {{emprunteur.nom}} {{emprunteur.prenom}} </p>

 {% endfor %}

 <h2> - la liste des emprunteurs dont le téléphone contient le mot clé `1234`, triée par ordre alphabétique de nom et prénom <h2>

{%for emprunteur in findTel%}

<p> {{emprunteur.nom}} {{emprunteur.prenom}} </p>
 {% endfor %}

  <h2> - la liste des emprunteurs dont la date de création est antérieure au 01/03/2021 exclu (c-à-d strictement plus petit), triée par ordre alphabétique de nom et prénom <h2>
{%for emprunteur in beforeDate%}

<p>{{emprunteur.nom}} {{emprunteur.prenom}} </p>

 {% endfor %}

{% endblock %} 