 {% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<h1> {{title}}</h1>

<h2> - la liste des 10 derniers emprunts au niveau chronologique, triée par ordre **décroissant** de date d'emprunt (le plus récent en premier) </h2>

{% for emprunt in listeDernierEmprunt%}

<p> id : {{emprunt.id}} {{emprunt.dateEmprunt|date('d/m/Y')}} </p>

 {% endfor %}

 <h2> - la liste des emprunts de l'emprunteur dont l'id est `2`, triée par ordre **croissant** de date d'emprunt (le plus ancien en premier)  </h2>

{% for emprunt in emprunteur2%}

<p>{{emprunt.dateEmprunt|date('d/m/Y')}} </p>
 {% endfor %}

<h2> - la liste des emprunts du livre dont l'id est `3`, triée par ordre **décroissant** de date d'emprunt (le plus récent en premier) </h2>

{% for emprunt in emprunteur3%}

<p>{{emprunt.dateEmprunt|date('d/m/Y')}} </p>

 {% endfor %}


 <h2> - la liste des 10 derniers emprunts qui ont été retournés, triée par ordre **décroissant** de date de rendretour (le plus récent en premier) </h2>

 {% for emprunt in retourEmprunt%}

<p> id : {{emprunt.id}} {{emprunt.dateEmprunt|date('d/m/Y')}} </p>

 {% endfor %}

  <h2> - la liste des emprunts qui n'ont pas encore été retournés (c-à-d dont la date de retour est nulle), triée par ordre **croissant** de date d'emprunt (le plus ancien en premier) </h2>
 {% for emprunt in findIsNull%}

<p> id : {{emprunt.id}} {{emprunt.dateEmprunt|date('d/m/Y')}} </p>

 {% endfor %}

 <h2>- les données de l'emprunt relié au livre dont l'id est `3`</h2>
  {% for emprunt in livre3%}

 <p> id :{{emprunt.id}}  date emprunt :{{emprunt.dateEmprunt|date('d/m/Y')}} date de retour : {{emprunt.dateRetour|date('d/m/Y')}}  id : {{emprunt.emprunteur.id}} date de création :{{emprunt.createdAt|date('d/m/Y')}} date de modification : {{emprunt.updatedAt|date('d/m/Y')}} date de suppression : {{emprunt.deletedAt|date('d/m/Y')}} </p>

 {% endfor %}
{% endblock %} 